python-backend/.venv/
# Ignore environment variable files
.env    
.env.local
# Ignore database files 
db.sqlite3
# Ignore Django migration files
**/migrations/
*.pyc
# Ignore __pycache__ directories
__pycache__/    