DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
FRONTEND_ORIGIN=http://localhost:5173

FLUTTERWAVE_SECRET_KEY= 
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_WEBHOOK_KEY=

MTN_MOMO_API_KEY=
MTN_MOMO_USER_ID=
MTN_MOMO_API_SECRET=
MTN_BUSINESS_NUMBER=

ORANGE_MONEY_API_KEY= 
ORANGE_MONEY_API_SECRET= 